<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Pingpong Score</title>
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta name="viewport" content="width=420,user-scalable=no" />
  <link rel="stylesheet" href="/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/script.js" type="text/javascript" charset="utf-8"></script>

</head>
<body onorientationchange="updateOrientation();">
  <div class="page">
    <div class="left">
      <div class="name"><%= params[:player1].capitalize %></div>
      <div class="wrapper">
        <div class="number">0</div>
      </div>
      <div class="info">serve</div>
    </div>
    <div class="right border">
      <div class="name"><%= params[:player2].capitalize %></div>
      <div class="wrapper">
        <div class="number">0</div>
      </div>
      <div class="info">serve</div>
    </div>
  </div>
</body>
</html>