body {
  margin: 0;
  padding: 0;
  font-family: "Marker Felt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(images/bg-body.png) repeat;
  color: #fff;
  }

.page {
  float: left;
  width: 480px !important;
  height: 320px;
  color: #000;
  background: url(images/bg-page.png) left top no-repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  overflow: hidden;
  }

.left, .right {
  width: 185px;
  margin-top: 60px;
  float: left;
  overflow: hidden;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }
.left {margin-left: 41px;}
.right {width: 189px; margin-left: 28px;}
.right .number, .left .number {margin-left: -10px;}

div.name {text-align: center;}

div.number {
  font-size: 120px;
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
  letter-spacing: -0.1em;
  margin-left: -0.1em;
  position: relative;
  overflow: hidden;
  }
  
div.info {margin-top: 10px;}

div.reset {
  -moz-border-radius-topleft: 30px;
  -webkit-border-top-left-radius: 30px;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topright: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -webkit-border-bottom-right-radius: 30px;
  width: 300px;
  height: 25px;
  text-align: center;
  background: red;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  margin-top: 30px;
  }

div.wrapper {
  overflow:hidden;
  height: 110px;
  }

div.number {
  font-size: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  margin-top: -10px;
  position: relative;
  }

div.name {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  margin-top: 10px;
  }

div.info {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  margin-top: -5px;
  font-style: italic;
  }
 
.winner{color: red;}
 
#help {
  clear: both;
  margin-top: 10px;
  height: 530px;
  overflow:hidden;
  }
#help img {
  float: left;
  clear: left;
  margin: -30px 0 0 180px;
  }
.hidden{
  height: 0px !important;
 }
#help, .page{
  -webkit-transition: all .5s ease-in-out;
}

#instructions {
  float: left;
  width: 290px;
  min-height: 411px;
  margin: 0 15px;
  color: #447a3a;
  background: url(images/bg-paper.png) top left no-repeat;
  }
#instructions h2 {
  margin: 40px 0 0;
  padding: 0 20px 15px;
  color: #447a3a; 
  }
#instructions img {float: left; z-index: 100;}
#instructions p {
  margin: 0;
  padding: 0 20px .8em;
  color: #333;
  font-size: 13px;
  line-height: 130%;
  }

div.serve{
  float: left;
  clear: both;  
  }
div.serve.right {
  margin: 0 0 0 210px;
  -webkit-transform: rotate(10deg);
  -webkit-transition: all .5s ease-in-out;
  }
div.serve.left {
  margin: 0 0 0 90px;
  -webkit-transform: rotate(-10deg); 
  -webkit-transition: all .5s ease-in-out;
  }